/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* open sans*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans-serif font-medium scroll-smooth;
}
select {
  @apply border-0 outline-none
}


.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  height: 80vh; /* Full viewport height */
}

.title {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5em;
  color: #b5b5b5;
  margin-bottom: 20px;
}

.countdown {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.countdown span {
  margin: 0 10px;
}
